
@font-face {
    font-family:"TSTAR PRO Light Italic";
    src:url("TSTARPRO-LightItalic.woff2") format("woff2"),url("TSTARPRO-LightItalic.woff") format("woff"),url("TSTARPRO-LightItalic.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        