/*
    -----
    Component: hero
    Hero of the homepage
    -----
*/

.c-hero {
    width: 100%;
    position: relative;
    margin-bottom: 30px;
}

.c-hero--homepage {
    height: 92vh;
    background-size: cover;
    background: url("/img/png/hero-homepage.png") no-repeat center center;
}

.c-hero--secondary {
    background: $secondary;
}

.c-hero__vertical {
    z-index: 1;
    position: absolute;
    left: 0;
    bottom: -62px;
}

.c-hero-secondary__vertical {
    z-index: 1;
    position: absolute;
    left: 0;
    bottom: -310px;
}

.c-hero__action {
    position: absolute;
    bottom: -29px;
    right: 30px;

    @include media-breakpoint-up(sm) {
        right: 100px;
    }
}

.c-hero__menu {
    position: absolute;
    top: 50px;
    right: 50px;
}