/*
    -----
    Component: buttons
    -----
*/

.c-button {
    border: 0;
    border-radius: 0;
    font-family: $headings-font-family;
    letter-spacing: 3px;
    display: inline-block;

    &:hover {
        text-decoration: none;
    }

    transition: all .2s;
}

.c-button--primary {
    background-color: $primary;
    color: $secondary;

    &:hover {
        color: $primary;
        background-color: $secondary;
    }
}

.c-button--secondary {
    background-color: $secondary;
    color: $white;

    &:hover {
        color: $secondary;
        background-color: $white;
    }
}

.c-button--inverted {
    background-color: $white;
    border: 3px solid $secondary;
    color: $secondary;

    &:hover {
        color: $secondary;
        text-decoration: underline;
    }
}

.c-button--vertical {
    transform: rotate(-90deg);
    transform-origin: left top 0;
    width: 350px;
    text-align: center;
}

.c-button--white {
    color: $secondary;
    background-color: $white;

    &:hover {
        color: $secondary;
        background-color: $primary;
    }
}

.c-button--sm {
    padding: 10px 20px 5px 20px;
    font-size: 14px;
}

.c-button--md {
    padding: 20px 30px 15px 30px;
    font-size: 16px;
}

.c-button--lg {
    letter-spacing: 4px;
    padding: 20px 40px 15px 40px;
    font-size: 14px;
}

.c-button--menu {
    color: $white;
    display: flex;
    align-items: center;
    font-size: 16px;
}

    .c-button__arrow {
        height: 13px;
        position: absolute;
        left: 40px;
    }

    .c-button__menu {
        height: 25px;
        margin-left: 10px;
    }