/*
    -----
    Component: titles
    -----
*/

.c-small-title {
    font-size: 16px;
    letter-spacing: 7px;
}

.c-title-page {
    font-size: 60px;
    color: $white;
    letter-spacing: 4px;
    max-width: 7em;
    margin: 0 auto;
    line-height: 55px;
}