/*
    -----
    Component: image-text
    Image with text left/right component
    -----
*/

$overflow-top: 40px;

.c-image-text {
    @include media-breakpoint-up(lg) {
        display: flex;
        margin-top: $overflow-top;
    }
}

.c-image-text--left {
    .c-image-text__image-wrapper {
        order: 1;

        &:after {
            right: 0;
        }
    }

    .c-image-text__content {
        order: 2;
    }
}

.c-image-text--right {
    .c-image-text__image-wrapper {
        order: 2;

        &:after {
            left: 0;
        }
    }

    .c-image-text__content {
        order: 1;
    }
}

    .c-image-text__content {
        padding: 40px;
        background: url('/img/png/paper-texture.png') repeat;
        margin-left: 0;
        margin-right: 0;

        @include media-breakpoint-up(sm) {
            .c-image-text--left & {
                margin-left: 80px;
            }

            .c-image-text--right & {
                margin-right: 80px;
            }
        }

        @include media-breakpoint-up(lg) {
            width: 65%;
            margin-left: 0 !important;
            margin-right: 0 !important;
        }
    }

    .c-image-text__image {
        width: 100%;
        padding-right: 0;
        padding-left: 0;

        .c-image-text--left & {
            text-align: right;
        }

        @include media-breakpoint-up(sm) {
            width: 70%;
            .c-image-text--left & {
                padding-right: 80px;
            }

            .c-image-text--right & {
                padding-left: 80px;
            }
        }

        @include media-breakpoint-up(lg) {
            width: 100%;
            padding-right: 0 !important;
            padding-left: 0 !important;
            margin-top: -$overflow-top;
            margin-bottom: $overflow-top;
        }
    }

    .c-image-text__image-wrapper {
        position: relative;

        &:after {
            content: '';
            background: url('/img/png/paper-texture.png') repeat;
            width: 70%;
            height: 30%;

            @include media-breakpoint-up(lg) {
                height: 100%;
            }

            position: absolute;
            bottom: 0;
            z-index: -1;
        }
    }

    .c-image-text__readmore {
        font-weight: bold;
        text-transform: uppercase;
        font-size: 12px;

        &,
        &:hover,
        &:active,
        &:focus,
        &:visited {
            color: $secondary;
        }
    }