/*
    -----
    Component: rows
    -----
*/

.c-row {
    padding: 4em 2em;

    @include media-breakpoint-down(sm) {
        padding: 3em 1em;
    }
}

.c-row--stacked {
    padding-bottom: 0;
}

.c-row--sm {
    padding: 2em;
}