/*
    -----
    Bootstrap
    -----
*/

// Font

// Required
@import "../vendor/bootstrap/scss/functions";
@import "variables.custom";
@import "../vendor/bootstrap/scss/mixins";

// Bootstrap utilities
@import "../vendor/bootstrap/scss/utilities";

// Bootstrap components
@import "../vendor/bootstrap/scss/reboot";
@import "../vendor/bootstrap/scss/type";
@import "../vendor/bootstrap/scss/images";
@import "../vendor/bootstrap/scss/grid";
@import "../vendor/bootstrap/scss/alert";


/*
    -----
    Custom scss
    -----
*/

