
@font-face {
    font-family:"TSTAR PRO Medium";
    src:url("TSTARPRO-Medium.woff2") format("woff2"),url("TSTARPRO-Medium.woff") format("woff"),url("TSTARPRO-Medium.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        