---
layout: default
title: Homepage
section: home
---



<div class="c-hero c-hero--secondary">

    <div class="c-row c-row--sm">
        <div class="text-center">
            <img class="c-logo-small c-logo-small--about" src="/img/svg/logo-small-white.svg" alt="">

            <h1 class="c-title-page">Come & try our burgers</h1>
        </div>
    </div>

    <a href="" class="c-button c-button--vertical c-button--primary c-button--lg c-hero-secondary__vertical">
        <img class="c-button__arrow" src="/img/svg/arrow-left.svg" alt=""> About
    </a>

    <a href="" class="c-button c-button--menu c-hero__menu u-light js-show-sidebar" data-target=".js-sidebar" data-close=".js-close-sidebar" data-background=".js-sidebar-background">
        menu
        <img class="c-button__menu" src="/img/svg/menu.svg" alt="">
    </a>
</div>

{% include navigation.html %}

<div class="o-container">
    <div class="c-row">
        {% include image-text-contact.html direction="right" %}
    </div>
</div>