---
layout: default
title: Homepage
section: home
---

<div class="c-hero d-flex align-items-center justify-content-center">
    <img class="c-logo" src="/img/svg/logo-burgerart.svg" alt="">

    <a href="" class="c-button c-button--vertical c-button--white c-button--lg c-hero__vertical">
        <img class="c-button__arrow" src="/img/svg/arrow-left.svg" alt=""> ontdek onze burgers
    </a>

    <a href="" class="c-button c-button--primary c-button--md c-hero__action">Book our foodtruck</a>

    <a href="" class="c-button c-button--menu c-hero__menu">
        menu
        <img class="c-button__menu" src="/img/svg/menu.svg" alt="">
    </a>
</div>

<div class="container">
    <div class="c-row">
        {% include image-text.html direction="left" %}
    </div>

    <div class="c-row">
        {% include image-text.html direction="right" %}
    </div>
</div>

