---
layout: default
title: Homepage
section: home
---

<div class="c-hero c-hero--homepage d-flex align-items-center justify-content-center">
    <img class="c-logo" src="/img/svg/logo-burgerart.svg" alt="">

    <a href="" class="c-button c-button--vertical c-button--white c-button--lg c-hero__vertical">
        <img class="c-button__arrow" src="/img/svg/arrow-left.svg" alt=""> ontdek onze burgers
    </a>

    <a href="" class="c-button c-button--primary c-button--md c-hero__action">Book our foodtruck</a>

    <a href="" class="c-button c-button--menu c-hero__menu u-light js-show-sidebar" data-target=".js-sidebar" data-close=".js-close-sidebar" data-background=".js-sidebar-background">
        menu
        <img class="c-button__menu" src="/img/svg/menu.svg" alt="">
    </a>
</div>

{% include navigation.html %}

<div class="o-container">
    <div class="c-row c-row--stacked">
        {% include image-text.html direction="left" %}
    </div>

    <div class="c-row">
        {% include image-text.html direction="right" %}
    </div>

    <div class="c-row">
        <h2 class="text-center mb-5 u-letter-spacing">Onze meesterwerken</h2>

        <div class="d-sm-flex mb-4">

            <div class="col-12 col-sm-4 mb-4">
                {% include masterpiece.html image="/img/png/michelangelo.png" title="Michelangelo" text="Burger, rode pesto, mozzarella, zongedroogde tomaatjes en rucola" %}
            </div>

            <div class="col-12 col-sm-4 mb-4">
                {% include masterpiece.html image="/img/png/monet.png" title="Monet" text="Burger, brie, appel, pijnboompitten, honing en rucola" %}
            </div>

            <div class="col-12 col-sm-4 mb-4">
                {% include masterpiece.html image="/img/png/bacon.png" title="Francis bacon" text="Burger, cheddar, spek, gedroogde ui, ketchup of mayonaise en rucola" %}
            </div>

        </div>
        <div class="text-center">
            <a href="" class="c-button c-button--primary c-button--lg">bekijk het volledige burgermenu</a>
        </div>
    </div>
</div>

<div class="d-md-flex">
    <div class="col-12 col-md-6 u-no-spacing c-background-secondary">
        <div class="d-flex align-items-center justify-content-center h-100">
            <div class="c-row">
                <h4 class="c-small-title mb-5">
                    On the road
                </h4>

                <table class="c-table">
                    <tr>
                        <td class="c-table__date"><strong>14/07</strong></td>
                        <td class="c-table__event"><p class="mb-0">Lokerse Feesten</p></td>
                        <td class="c-table__place"><p class="mb-0">Lokeren</p></td>
                    </tr>
                    <tr>
                        <td><strong>20/07</strong></td>
                        <td><p class="mb-0">Gentse Feesten</p></td>
                        <td><p class="mb-0">Gent</p></td>
                    </tr>
                    <tr>
                        <td><strong>20/07</strong></td>
                        <td><p class="mb-0">Gentse Feesten</p></td>
                        <td><p class="mb-0">Gent</p></td>
                    </tr>
                    <tr>
                        <td><strong>20/07</strong></td>
                        <td><p class="mb-0">Gentse Feesten</p></td>
                        <td><p class="mb-0">Gent</p></td>
                    </tr>
                    <tr>
                        <td><strong>20/07</strong></td>
                        <td><p class="mb-0">Gentse Feesten</p></td>
                        <td><p class="mb-0">Gent</p></td>
                    </tr>
                </table>

            </div>

        </div>

    </div>

    <div class="col-12 col-md-6 u-no-spacing">
        <div class="c-background-image c-background-image--sm h-100" style="background-image: url(/img/png/on-the-road.png)">

        </div>
    </div>
</div>

<div class="c-background-primary d-flex align-items-center justify-content-center">
    <div class="c-row">
        <div class="text-center">
            <img class="c-logo-small mb-4" src="/img/svg/logo-small.svg" alt="">
            <h2 class="u-letter-spacing">festival, verjaardag, feestje? </h2>

            <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas urna lorem,  congue ullamcorper nunc auctor, dignissim euismod augue.</p>

            <a href="" class="c-button c-button--secondary c-button--lg">bekijk het volledige burgermenu</a>
        </div>
    </div>
</div>
