
@font-face {
    font-family:"TSTAR PRO Italic";
    src:url("TSTARPRO-Italic.woff2") format("woff2"),url("TSTARPRO-Italic.woff") format("woff"),url("TSTARPRO-Italic.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        