
@font-face {
    font-family:"TSTAR PRO Light";
    src:url("TSTARPRO-Light.woff2") format("woff2"),url("TSTARPRO-Light.woff") format("woff"),url("TSTARPRO-Light.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        