<div class="c-footer">

    <div class="o-container">

        <div class="c-row d-flex flex-wrap text-center">

            <div class="col-6 col-md mb-4 mb-md-0">

                <h4 class="u-letter-spacing mb-5">Adres</h4>
                <p>Straatnaam nr 72<br>0000 - gemeente</p>

            </div>
            <div class="col-6 col-md mb-4 mb-md-0">

                <h4 class="u-letter-spacing mb-5">Contact</h4>
                <p>G. +32 470 00 00 00 info@burgerart.be</p>

            </div>
            <div class="col-6 col-md">

                <h4 class="u-letter-spacing mb-5">Volg ons</h4>
                <p>facebook<br>instagram</p>

            </div>
            <div class="col-6 col-md">

                <h4 class="u-letter-spacing mb-5">Nieuwsbrief</h4>
                <a href="" class="c-button c-button--inverted c-button--sm">Schrijf je in!</a>

            </div>
        </div>

    </div>

</div>