<div class="c-image-text c-image-text--{{ include.direction }}">
    <div class="c-image-text__image-wrapper">
        <img class="c-image-text__image " src="/img/png/smiling-waiter.png" alt="">
    </div>

    <div class="c-image-text__content d-flex align-items-center">
        <div>
            <h2 class="mb-5">Vragen?<br> Contacteer ons</h2>

            <h5 class="mb-3">Burger art</h5>

            <p class="mb-0">
                straatnaam nr 72<br>
                0000 gemeente<br>
                G. +32 470 00 00 00<br>
                info@burgerart.be
            </p>
        </div>
    </div>
</div>