<div class="sidebar-background js-sidebar-background"></div>
<div class="sidebar js-sidebar">
    <div class="sidebar-content">
        <a href="#!" class="sidebar-close js-close-sidebar">
            <img src="/img/svg/close.svg" alt="">
        </a>

        <ul class="c-list c-list--nav">
            <li><a class="c-nav-link" href="/index.html">Home</a></li>
            <li><a class="c-nav-link" href="/about.html">About</a></li>
            <li><a class="c-nav-link" href="">Burgers</a></li>
            <li><a class="c-nav-link" href="">Book</a></li>
            <li><a class="c-nav-link" href="">Contact</a></li>
        </ul>
    </div>
</div>