
@font-face {
    font-family:"TSTAR PRO Bold Italic";
    src:url("TSTARPRO-BoldItalic.woff2") format("woff2"),url("TSTARPRO-BoldItalic.woff") format("woff"),url("TSTARPRO-BoldItalic.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        