
@font-face {
    font-family:"TSTAR PRO Headline";
    src:url("TSTARPRO-Headline.woff2") format("woff2"),url("TSTARPRO-Headline.woff") format("woff"),url("TSTARPRO-Headline.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        