
@font-face {
    font-family:"TSTAR PRO Medium Italic";
    src:url("TSTARPRO-MediumItalic.woff2") format("woff2"),url("TSTARPRO-MediumItalic.woff") format("woff"),url("TSTARPRO-MediumItalic.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        